<% if current_user == adoption.user || current_user.admin?%>
  <br>
  <div class="adoption-<%= adoption.id %> container-fluid padding border border-secondary">
    <% if current_user.admin?%>
      <%= adoption.user.email%>
    <% end %>
    <br>
    <div class="button-group float-end">
      <%= button_to "Usuń", [animal, adoption], class:"btn btn-danger", method: :delete %>
    </div>
    <p>
      <strong>Imię i Nazwisko:</strong>
      <%= adoption.name %>
    </p>

    <p>
      <strong>Adres Email:</strong>
      <%= adoption.email %>
    </p>

    <p>
      <strong>Opis:</strong>
      <%= adoption.description %>
    </p>
    <p>
      <% if (adoption.updated_at - adoption.created_at) > 1%>
        <span> Zgłoszenie złożone <%= time_ago_in_words(adoption.updated_at) %> temu </span>
      <% else %>
        <span> Zgłoszenie złożone <%= time_ago_in_words(adoption.created_at) %> temu </span>
      <% end %>
    </p>
  </div>
<% end %>