<%= form_with(model: [animal, animal.adoptions.build]) do |form| %>
  <h3>Formularz Adopcyjny zwierzaka <%= @animal.name %> </h3>
  <form>
    <div class="form-group">
    <label for="exampleFormControlInput1">Imię i Nazwisko</label>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Wpisz swoje Imię i Nazwisko' %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Adres Email</label>
    <%= form.text_field :email, class: 'form-control', placeholder: 'Wpisz swój adres email' %>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Twój opis, dlaczego jesteś dobrym kandydatem, aby dokonać adopcji zwierzaka</label>
    <%= form.text_field :description, class: 'form-control', placeholder: 'Jestem dobrym kandydatem, ponieważ... ' %>
  </div>
  <%= form.submit "Submit", class: "btn btn-primary mt-1" %>

<% end %>
