<div class="container", id="<%= dom_id animal %>">
  <p>
    <strong>Imię:</strong>
    <%= animal.name %>
  </p>

  <p>
    <strong>Rasa:</strong>
    <%= animal.breed %>
  </p>

  <p>
    <strong>Wiek:</strong>
    <%= animal.age %>
  </p>

  <p>
    <strong>Co lubi robić:</strong>
    <%= animal.enjoys %>
  </p>

  <p>
    <strong>Zdjęcie:</strong>
    <br>
    <%= link_to image_tag(animal.image_as_thumbnail), animal.image%>
  </p>

</div>
