<div class="container", id="<%= dom_id animal %>">
  <div class="row">
    <div class="col">
      <br>
      <strong>Imię:</strong>
      <%= animal.name %>
      <br>
      <strong>Rasa:</strong>
      <%= animal.breed %>
      <br>
      <strong>Wiek:</strong>
      <%= animal.age %>
      <br>
      <strong>Co lubi robić:</strong>
      <%= animal.enjoys %>
    </div>
    <div class="col">
    <strong>Zdjęcie:</strong>
      <%= link_to image_tag(animal.image_as_thumbnail), animal.image%>
    </div>
  </div>

</div>
