<div class="container padding", id="<%= dom_id animal %>">
      <br>
      <h1 class="text-center"> <%= animal.name %></h1>
      <br>
  <div class="row">
    <div class="col">
      <br>
      <br>
      <strong>Imię:</strong>
      <%= animal.name %>
      <br>
      <strong>Rasa:</strong>
      <%= animal.breed %>
      <br>
      <strong>Wiek:</strong>
      <%= animal.age %>
      <br>
      <strong>Co lubi robić:</strong>
      <%= animal.enjoys %>
    </div>
    <div class="col">
      <%= link_to image_tag(animal.image_as_thumbnail), animal.image, class:"img-fluid"%>
    </div>
  </div>
</div>
