<body class="bg-primary-subtle">
  <%= render @animal %>
  <div >
    <% if current_user.admin? %>
    <br>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <%= button_to "Edit this animal", edit_animal_path(@animal),class:"btn btn-warning", method: :get  %>
        </div>
        <div class="col text-center">
          <%= button_to "Destroy this animal", @animal,class:"btn btn-danger", method: :delete %>
        </div>
      </div>
    </div>
    <% end %>
    <br>
    <div class="text-center">
      <%= button_to "Back to animals", animals_path,class:"btn btn-primary", method: :get %>
    </div>
  </div>
  <br>
  <div class="container" >
    <br>
    <%= render 'adoptions/form', animal: @animal %>
    <% @adoptions.each do |adoption| %>
      <%= render 'adoptions/adoption', animal: @animal, adoption: adoption %>
    <% end %>
    <br>
  </div>
</body>

